.animate__hidden__right {
  opacity: 0;
  overflow-x: hidden;
  transform: translateX(100px);
  transition-property: transform, visibility, opacity;
  visibility: hidden;
}

.animate__hidden__left {
  opacity: 0;
  transform: translateX(-100px);
  overflow-x: hidden;
  transition-property: transform, visibility, opacity;
  visibility: hidden;
}

.animate__hidden__bottom {
  opacity: 0;
  transform: translateY(100px);
  overflow-y: hidden;
  transition-property: transform, visibility, opacity;
  visibility: hidden;
}

.animate__hidden__top {
  opacity: 0;
  transform: translateY(-100px);
  overflow-y: hidden;
  transition-property: transform, visibility, opacity;
  visibility: hidden;
}

.animate__hidden {
  opacity: 0;
  transform: translate(0, 0);
  overflow: hidden;
  transition-property: transform, visibility, opacity;
  visibility: hidden;
}

.animate__active {
  animation-fill-mode: forwards;
  animation-name: show-animate;
  opacity: 0;
  visibility: hidden;
}

.animate__active__right {
  animation-fill-mode: forwards;
  animation-name: show-animate-right;
  opacity: 0;
  visibility: hidden;
}

.animate__active__left {
  animation-fill-mode: forwards;
  animation-name: show-animate-left;
  opacity: 0;
  visibility: hidden;
}

.animate__active__bottom {
  animation-fill-mode: forwards;
  animation-name: show-animate-bottom;
  opacity: 0;
  visibility: hidden;
}

.animate__active__top {
  animation-fill-mode: forwards;
  animation-name: show-animate-top;
  opacity: 0;
  visibility: hidden;
}

@keyframes show-animate {
  0% {
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
    overflow: hidden;
    visibility: visible;
  }
}

@keyframes show-animate-right {
  0% {
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
  }

  100% {
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
    overflow: hidden;
  }
}

@keyframes show-animate-left {
  0% {
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
  }

  100% {
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
    overflow: hidden;
  }
}

@keyframes show-animate-bottom {
  0% {
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
    overflow: hidden;
  }
}

@keyframes show-animate-top {
  0% {
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
    overflow: hidden;
  }
}
