.btn {
  @apply my-1 rounded-md px-3 py-2 text-center font-medium tracking-wide shadow-md outline-none transition duration-100 ease-out focus:outline-none;
}

.btn--primary {
  @apply bg-indigo-500 text-blank-light hover:bg-indigo-700;
}

.btn--secondary {
  @apply bg-amber-500 text-blank-light hover:bg-amber-700;
}

.nav__link {
  @apply my-2 flex items-center justify-between gap-x-1 rounded-md py-2 px-3 font-medium transition duration-150 hover:bg-gray-200 dark:border-gray-800 dark:hover:border-gray-600 dark:hover:bg-transparent dark:hover:shadow-md dark:active:bg-gray-500 md:my-auto md:gap-x-2 dark:md:border;
}

.banner {
  @apply my-5 flex flex-col items-center rounded-md p-5 sm:justify-items-center md:grid md:grid-cols-2 md:justify-items-center md:gap-x-4 md:transition-all md:duration-150 md:ease-in-out md:hover:shadow-md md:hover:shadow-amber-400 dark:md:hover:shadow-sky-400;
}

.banner__content {
  @apply self-center py-5 text-center tracking-wide md:text-lg md:leading-8 md:opacity-40 md:duration-150 md:ease-out md:group-hover:opacity-100;
}

.banner__content p {
  @apply font-medium;
}

.banner__content__link {
  @apply block font-semibold transition hover:underline md:duration-150 md:ease-out;
}

.banner__image {
  @apply w-auto transform md:order-none md:transition-all md:duration-150 md:ease-in-out group-hover:md:rotate-0;
}

.banner__image--scale {
  @apply rounded-md object-cover dark:shadow-neutral-300 md:grayscale md:duration-150 md:ease-in md:group-hover:grayscale-0;
}
