@import 'components.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-blank-light dark:bg-gray-800 dark:text-blank-light;
  }
}
::-webkit-scrollbar {
  @apply w-3;
}

::-webkit-scrollbar-track {
  @apply rounded-md bg-cyan-100;
}

::-webkit-scrollbar-thumb {
  @apply rounded-md bg-cyan-800;
  transition: ease-in-out all 0.6s;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-cyan-600;
}

::selection {
  @apply rounded-md bg-emerald-200 text-zinc-700 transition duration-75;
}
